.header_main {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;

    @media screen and (max-width: 950px) {
        height: 3rem;
    }
}
    