body {
    font-family: $font-main;
    background-color: #141414;
}

p {
    font-size: 18px;
}

h1,h2,h3,h4 {
    font-family: $font-title;
    font-size: 40px;
}

a { 
    color: black ;
    text-decoration: none;
}